body{
    font-family: Arial;
    background-color: #f4f4f4;
}

.box{
    display: flex;
    justify-content: center;
    width: 95%;
    height: 30rem;
    margin: 1rem;
    background-color: white;
    color: black;
    border-radius: 20px;
}

/* Modo responsivo */
@media (max-width: 1200px) {
    .box {
        height: 25rem;
    }
}

@media (max-width: 992px) {
    .box {
        height: 20rem;
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .box {
        height: 18rem;
        margin: 0.5rem;
    }
}

@media (max-width: 480px) {
    .box {
        height: 15rem;
        margin: 0.5rem;
        flex-direction: column;
    }
}